@import '../../../style/variables.scss';
.o-aside{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .o-aside-buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .o-aside-temp{

        .o-aside-tem-number{
            font-family: 'Raleway Thin';
            font-style: normal;
            font-weight: 500;
            font-size: 144px;
            line-height: 169px;
            color: $white;
            
            .o-aside-tem-number-prefijo{
                font-family: 'Raleway Thin';
                font-style: normal;
                font-weight: 300;
                font-size: 48px;
            }
        }

    }
    
    .o-aside-time{

        p{
            font-family: 'Raleway Thin';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 42px;
            color: #E7E7EB;
        }
    }
    .o-aside-date{
        margin-top: 20px ;

        p{
            font-family: 'Raleway Thin';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #E7E7EB;
        }
    }

    .o-aside-search{

        .o-aside-search-input{
            padding: 10px;
            background-color: $blue;
            color: $white;
            outline: none;
            border: 1px solid $white;
            margin: 10px;

            @include from($x-large){
               font-size: 20px;
            }
    
        }

        .o-aside-search-button{
            padding: 10px;
            background-color: #3C47E9;
            color: $white;
            outline: none;
            border:1px solid $white;
            @include from($x-large){
                font-size: 20px;
             }
        }

      
    }
    .o-aside-result{
        display: flex;
        flex-direction: column;

        .o-aside-result-button{
            padding: 10px !important; 
            height: auto;
            text-align: left;
            font-family: 'Raleway Thin';
            margin: 4px;
            font-size: 18px;
            background-color: $darkblue;
            display: flex;
            justify-content: space-between;


            @include from($x-large){
                font-size: 20px;
             }

            .o-aside-result-button-icon{

            }
        }
    }

    .o-aside-city{
        font-family: 'Raleway Thin';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #E7E7EB;
        margin: 10px;
    }
}
